#################
## Eclipse
#################

*.pydevproject
.project
.metadata
.recommenders
bin/
tmp/
temp/
CtmDataSet/*
PreProcessingClient2/_compare/
PreProcessingClient2/_compressed/
PreProcessingClient2/_compressed2/
PreProcessingClient2/_indicator/
PreProcessingClient2/_invalidTriple/
PreProcessingClient2/_ns/
PreProcessingClient2/_pos/
PreProcessingClient2/_ps/
*.n3
*.tmp
*.bak
*.swp
*~.nib
*.log
*.ind
local.properties
.classpath
.settings/
.loadpath

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

