BITMATDUMPFILE_SPO=/work2/dataset/uniprot800m_bitmats/uniprot_800m_spo_pdump
BITMATDUMPFILE_OPS=/work2/dataset/uniprot800m_bitmats/uniprot_800m_ops_pdump
BITMATDUMPFILE_PSO=/work2/dataset/uniprot800m_bitmats/uniprot_800m_pso_sdump
BITMATDUMPFILE_POS=/work2/dataset/uniprot800m_bitmats/uniprot_800m_pos_odump
RAWDATAFILE_SPO=/work2/dataset/uniprot800m_bitmats/uniprot_800m_spo_psorted
RAWDATAFILE_OPS=/work2/dataset/uniprot800m_bitmats/uniprot_800m_ops_psorted
RAWDATAFILE_PSO=/work2/dataset/uniprot800m_bitmats/uniprot_800m_pso_ssorted
RAWDATAFILE_POS=/work2/dataset/uniprot800m_bitmats/uniprot_800m_pos_osorted
RAWDATAFILE=/work2/dataset/uniprot800m_bitmats/uniprot_800m_normal_sorted
NUM_SUBJECTS=147524984
NUM_PREDICATES=95
NUM_OBJECTS=128321926
NUM_COMMON_SO=82008118
ROW_SIZE_BYTES=4
GAP_SIZE_BYTES=4
TMP_STORAGE=/work22/tmp
TABLE_COL_BYTES=5
COMPRESS_FOLDED_ARRAY=0
PREDARR_PRED_FILE=/work2/dataset/uniprot800m_bitmats/uniprot_800m_predc
PREDARR_SUCC_FILE=/work2/dataset/uniprot800m_bitmats/uniprot_800m_succ
